<div class="container">

  <mat-card [class.mat-elevation-z13]="true">
    <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="100%">
    <h1 class="title"><strong>Gestion de Departamentos</strong></h1>
    </div>
    </div>
    <form [formGroup]="frmArea">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutWrap fxLayoutAlign="left">
    <mat-form-field class="field-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre Area" required formControlName="nomArea"
    type="text">
    </mat-form-field>
    </div>
    </form>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" >
    <button mat-raised-button (click)="sendData()" *ngIf="!editable" [disabled]="!frmArea.valid" color="primary">Guardar</button>
    <button mat-raised-button (click)="cancelar()" color="primary">Cancelar</button>
    </div>
    </mat-card-content>
    </mat-card>




    <!--tablas departamentos-->
    <mat-card [class.mat-elevation-z13]="true">
      <mat-card-content>
      <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="idArea">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idArea}} </td>
      </ng-container>
      <ng-container matColumnDef="nomArea">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *matCellDef="let element"> {{element.nomArea}} </td>
      </ng-container>
      <ng-container matColumnDef="idSucursal">
        <th mat-header-cell *matHeaderCellDef> SUCURSAL </th>
        <td mat-cell *matCellDef="let element"> {{element.idSucursal}} </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-card-content>
      </mat-card>

</div>
